.moviesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 980px;
  margin: 0 auto;

  mat-card {
    flex: 1 1 auto;
    margin: 0 10px 15px;
    width: 220px;
    max-width: 220px;
  }
  .button-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}